/* Fonts */
/* Font name 'Kalam', Font family ('Kalam', cursive) -> this is kalam regular */
/* Font name 'Merienda', Font family ('Merienda', cursive) -> this is Merienda regular */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Luckiest+Guy&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Main Settings */
:root {
    --main-color: #FF8400;
    /* Buttons, Some titles, Icons, Selected things, Loading Screen, Scroll */
    --sec-color: #9F5300;
    /* Hover, Footer */
    --main-text-color: #FFFFFF;
    /* Most of titles, and text */
    --sec-text-color: #6F6F6F;
    /* Secondary text */
    --dark-color: #472706;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
}

a {
    text-decoration: none;
}

.menu a {
    color: var(--main-text-color);
    text-decoration: none;
    height: 40px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Start Scroller */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F3F3F3;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  height: 16px;
  border: 1px solid #F3F3F3;
  background: var(--main-color);
  border-radius: 16px;
}
/* End Scroller */

/* Start Loading Screen */
#loading-screen {
    position: fixed;
    inset: 0;
    opacity: 1;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 4s ease;
}
#loading-icon{
    opacity: 1;
    transition: opacity 1s ease;
}

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: var(--main-text-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* End Loading Screen */

/* start header */
header .fa-solid{
    color:#ED7C03;
}
header .fa-brands{
    color:black;
    cursor:pointer;
    transition:.3s;

}
header .fa-brands:hover{
    color:#ed7c03;
}

header .trip-icon{
    width:18px;
    height:18px;
    fill:#222;
    cursor:pointer;
    transition:.3s;
    margin-right:8px;
    vertical-align:middle;
}
 header .trip-icon:hover{
    fill:#ED7C03;
}

 .navbar{
    position: absolute;
    top: 45px;       
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}

 .navbar.scrolled{
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.50);
}

.navbar .container a{
  font-weight: 400;
}

.navbar .navbar-brand{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar .navbar-brand:hover{
    color: #fff;
}

.navbar .nav-link{
    color: #fff;
    font-size: 14px;
    margin-left: 18px;
    transition: .3s;
}

.navbar .nav-link:hover{
    color: #ED7C03;
}

.navbar .nav-link.active{
    color: #ED7C03 !important;
}

.navbar .navbar-toggler{
    border: none;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler .fa-bars{
    color:white;
    font-size:24px;
}

@media (max-width:992px){

    .navbar .navbar-collapse{
        background: rgba(16, 16, 16, 0.8);
        padding: 15px;
    }

}



#main-slider .carousel-item{
    position: relative;
    transition-duration: 1s ;
}

#main-slider .carousel-item img{
    height: 100vh;
    object-fit: fill;
}

#main-slider .overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.45);
    z-index: 1;
}

#main-slider .carousel-caption{
    z-index:2 ;
    bottom: 50%;
    transform: translateY(50%);
}


#main-slider .carousel-caption h1{
     font-size: 64px;
     font-family: Georgia, "Times New Roman", serif;
     margin-bottom: 20px;
}

#main-slider .carousel-caption p{
  font-family: "Merienda", cursive;
    font-size: 24px;
    margin-bottom: 25px;
}

#main-slider .carousel-caption .btn{
    background: #ED7C03;
    color: #fff;
    padding: 12px 28px;
    border-radius: 0;
    transition: .3s;
}

#main-slider .carousel-caption .btn:hover{
    background: #d96f02;
}

#main-slider .carousel-control-next-icon,
#main-slider .carousel-control-prev-icon{
    
    width: 40px;
    height: 40px;
}


@media (max-width:768px){
   #main-slider .carousel-caption h1{
        font-size:40px;
    }
}

@media (max-width:768px){

    #main-slider .slider-text{
        display: none;
    }

}

@media (max-width:768px){

    #main-slider .carousel-caption .btn{
        padding: 8px 18px;
        font-size: 14px;
    }

}
/* end header */


/*About-us Section Start*/

#About-us .awards{
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid #EEEEEE;
}

#About-us .awards .award{
 position: relative;
  display: flex;
 width: calc(100%/4);
 justify-content: center;
 align-items: center;
 padding: 15px;
 flex-grow: 1;
}

#About-us .awards .award::after{
 position: absolute;
 content:'';
 width: 0;
 height: 4px;
 bottom: 0;
 left: 0;
 background-color:var(--main-color);
 visibility: hidden;
 transition: width 0.6s ease-out;
 
}

#About-us .awards .award:hover::after {
   visibility: visible;
    width: 100%;
}

#About-us .awards .award .image {
 padding: 20px;
}


#About-us .awards .award .image img{
 width: 100px;
 opacity: 0.5;
 transition: opacity 0.3s;
}

#About-us .awards .award .image img:hover{
 opacity: 1;
}

#About-us .awards .award .content{
    display: flex;
    flex-direction: column;
    width: 140px;
}

#About-us .awards .award .content h4{
    color: var(--sec-text-color);
    font-size: 18px;
    margin-bottom: 10px;
    
}


#About-us .awards .award .content img{
width: 55px;
    margin-bottom: 10px;
}

#About-us .awards .award .content span{
 color: #D7CECB;
 
}

@media screen and (max-width:767px){
    #About-us .awards .award{
           border-bottom: 1px solid #EEEEEE;    
    }
}


@media screen and (max-width:1199px){
    #About-us .awards .award{
       width:calc(100%/2);
        min-width:250px;        
    }
}


@media screen and (min-width:1200px) and (max-width:1399px){
    #About-us .awards .award{
       /* width:calc(100%/4); */
        min-width: 310px;  
        justify-content: start; 
        /* flex-grow: 0;    */
    }
}



#About-us .offer{
 display: flex;
 justify-content: center;
 padding: 50px 0;
}

#About-us .offer .imgs{
  display: flex;
 
}
#About-us .offer .imgs .img1{
  width: 300px;
  height: 400px;
  background-image: url('../img/image2.webp');
  background-size: cover ;
  background-repeat: no-repeat;
}


#About-us .offer .imgs .img1 .discount,
#About-us .offer .imgs .img2 .discount{
  background-color: #ff840098;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 300;
}


#About-us .offer .imgs .img1 .discount span,
#About-us .offer .imgs .img2 .discount span{
  font-size: 18px;
  padding: 20px 0;
  
  font-family: "Roboto", sans-serif;
}

#About-us .offer .imgs .img1 .discount h2,
#About-us .offer .imgs .img2 .discount h2{

  font-family: "Roboto", sans-serif;
}


#About-us .offer .imgs .img2{
  width: 300px;
  height: 400px;
  background-image: url('../img/image1.webp');
   background-size: cover ;
  background-repeat: no-repeat;
}

#About-us .offer .imgs .img2 .discount{
background-color: #0000009e
}


#About-us .offer .about{
color: var(--sec-text-color);
padding: 10px 20px 10px 50px;
width: 500px;
}

#About-us .offer .about h2{
  
  padding-bottom: 30px;
  padding-left: 30px;
  font-family: 'Merienda', cursive;
}

#About-us .offer .about .par{
  display: flex;
  padding-bottom: 20px;
 
}

#About-us .offer .about .par p{
  font-size: 18px;
}


#About-us .offer .about .par i{
  font-size: 22px;
  padding-right: 35px;
}

#About-us .offer .about a{ 
  background-color: var(--main-color);
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 16px;
  padding: 7px 15px;
 margin-left: 30px;
}

#About-us .offer .about a:hover{
  
  background-color: #E86D00;
  color: var(--main-text-color);
  transition-duration: 0.3s;
}

@media screen and (max-width:991px) {
   #About-us .offer{
        flex-direction: column;
        padding: 50px;
    }

     #About-us .offer .imgs {
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 20px;
    /* width: 100%; */
  }
  
  #About-us .offer .imgs .img1,
  #About-us .offer .imgs .img2{
    width: 100%;
    height: 170px;
    
}
 #About-us .offer .imgs .img1 .discount,
 #About-us .offer .imgs .img2 .discount{
     height: 100%;
}

 
    #About-us .offer .about{
        padding:0px;
        width: 100%;
    }

     #About-us .offer .about .par{
       display: block;
       padding-left: 30px;
    }

}
@media screen and (min-width:991px) and (max-width:1199px){
    
#About-us .offer .about{
    width: 400px;
}

#About-us .offer .imgs{
 width: 450px;
}

}

/*About-us Section end*/


/* Start Menu Section */
.menu{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}


.menu .cards{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .cards:hover .card{
    transform: scale(1.1) perspective(35px) rotateY(2deg);
}


.menu .cards .card{
    border: 0;
    border-radius: 0;
    width: 400px;
    height: 400px;
    transition: transform 0.5s ease;
    position: relative;
    overflow: hidden;
}
.menu .cards .card:hover{
    z-index: 1;
    transform: scale(1.2) rotateY(0deg);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7);
}
#left-card:hover ~ #right-card, #right-card:hover ~ #left-card{
    transform: scale(1.1) perspective(25px) rotateY(-1.9deg);
    z-index: -1;
}
#left-card:hover ~ #middle-card, #middle-card:hover ~ #right-card{
    transform: scale(1.1) perspective(35px) rotateY(-2deg);
}


.menu .cards .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.menu .cards .card .overlay{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
}
.menu .cards .card:hover .overlay{
    opacity: 1;
}
.menu .cards .card .overlay::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(100%, 52%, 0%, 72%));
    mix-blend-mode: multiply;
}


.menu .cards .card .overlay h2{
    font-family: "Merienda", cursive;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    transition-delay: 1s;
    color: var(--main-text-color);
}
.menu .cards .card .overlay p{
    width: 100%;
    transition-delay: 2s;
    color: var(--main-text-color);
}
.menu .cards .card .overlay a{
    padding: 0px 15px ;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    transition-delay: 3s;
    color: var(--main-text-color);
}


.menu .cards .card .overlay h2,
.menu .cards .card .overlay p,
.menu .cards .card .overlay a{
    opacity: 0;
    transform: translateY(600px);
    transition:
        transform 0.5s ease-out,
        opacity 0.5s ease-out;

}
.menu .cards .card:hover .overlay h2{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}
.menu .cards .card:hover .overlay p{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}
.menu .cards .card:hover .overlay a{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
}


@media screen and (min-width:0px) and (max-width:767px){
    .menu .cards{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    .menu .cards .card{
        width: 80%;
    }
    .menu .cards:hover .card{
        transform: perspective(5000px) rotateY(20deg) skewY(10deg);
    }
    .menu .cards .card:hover{
        transform:  scale(1.2);
    }
    #left-card:hover ~ #right-card, #left-card:hover ~  #middle-card, #middle-card:hover ~ #right-card{
        transform: perspective(5000px) rotateY(-20deg) skewY(10deg);
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .menu .cards{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    .menu .cards .card{
        width: 90%;
    }
    .menu .cards:hover .card{
        transform: perspective(5000px) rotateY(20deg) skewY(10deg);
    }
    .menu .cards .card:hover{
        transform:  scale(1.2);
    }
    #left-card:hover ~ #right-card, #left-card:hover ~  #middle-card, #middle-card:hover ~ #right-card{
        transform: perspective(5000px) rotateY(-20deg) skewY(10deg);
    }
}

@media screen and (min-width:992px) and (max-width:1199px){
    .menu .cards .card{
        width: calc(95% / 3);
    }
}

@media screen and (min-width:1200px) and (max-width:1399px){
    .menu .cards .card{
        width: calc(91% / 3);
    }
}

@media screen and (min-width:1400px){
    .menu .cards .card{
        width: calc(83% / 3);
    }
}
/* End Menu Section */




.page-4 {
  background-color: #f9f9f9;
  padding: 60px 50px;
  text-align: center;
  height: 90vh;
  position: relative;
}

.Header-page-4 h2 {
  font-family: 'Poppins', cursive;
  font-size: 30px;
  color: #333;
  margin-bottom: 40px;
}

.Header-page-4 h3 {
  font-family: 'Poppins', cursive;
  font-size: 20px;
  color: #817e7e;
  margin-bottom: 20px;
}

.page-4 .carousel-wrapper {
  width: 100%;         
  max-width: 1000px;    
  overflow: hidden;
  margin: auto;
  margin-top: 80px;
  
}

.page-4 .carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.page-4 .review {
  flex: 0 0 50%;       
  padding: 20px;
  background: #f9f9f9;
  border: none;
}

.page-4 .review p {
  font-style: italic;
  font-family: 'Poppins', cursive;
  font-size:18px;
  line-height:1.8;
  margin-top: 10px;
  color: #555;
}

.page-4 .review i {
  color: rgb(238, 138, 15);
  margin-bottom: 15px;
}

.page-4 .review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 17px;
}

.page-4 .p-t {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.page-4 .t {
  margin-top: 20px;
}

.page-4 .review h4 {
  color: #363535;
  font-family: 'Poppins', cursive;
  font-size: 20px;
}

.page-4 .source {
  font-style: italic;
  color: #999;
  font-size: 14px;
}

.page-4 button {
  background: rgb(176, 169, 157);
  border: none;
  color: #fff;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.page-4 button:hover {
  background: rgb(238, 138, 15);
}

.page-4 .carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}

.page-4 .carousel-btn{
    position:absolute;
    top:60%;
    transform:translateY(-50%);
    width:30px;
    height:30px;
    border:none;
    border-radius:50%;
    background:#f7f7f7;
    color:#ff7a00;
    font-size:15px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.page-4 .carousel-btn:hover{
    background:#ff7a00;
    color:#fff;
}

.page-4 .carousel-btn.prev { 
  left: 95px;             
}

.page-4 .carousel-btn.next {
  right: 100px;           
}
/* ديسكتوب */
.page-4 .review {
  flex: 0 0 50%;   /* اتنين جنب بعض */
}

/* تابلت */
@media (max-width: 992px) {
  .page-4 .review {
    flex: 0 0 100%;   /* واحد بس */
  }

  .page-4 .carousel-btn.prev { 
    left: 20px;   /* يقرب للشمال */
  }

  .page-4 .carousel-btn.next {
    right: 20px;  /* يقرب لليمين */
  }
}

/* موبايل */
@media (max-width: 576px) {
  .Header-page-4 h2 {
    font-size: 22px;
  }
  .Header-page-4 h3 {
    font-size: 16px;
  }
  .page-4 .review p {
    font-size: 14px;
    line-height: 1.6;
  }
  .page-4 .carousel-btn {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}





<!-- Start Special Menu Section -->
.page-5{
  height: auto;
  padding-bottom: 60px;
  width: 100%;
  margin-top: 100px;
}
.page-5 .container{
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.page-5 .card{
    flex:0 0 25%;
    border-radius: 0;
    border: none;
}

.page-5 .image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.page-5 .image img {
  width: 100%;
  transition: .5s;
}
.page-5 .image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.35);
  opacity: 0;
  transition: .5s;
  z-index: 1;
}


/* shine */
.page-5 .image::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 220%;
  bottom: -180%;
  left: -100%;
  background: linear-gradient(
    rgba(255,255,255,0),
    rgba(255,255,255,.7),
    rgba(255,255,255,0)
  );
  transform: rotate(-35deg);
  opacity: 0;
  z-index: 2;
}
.page-5 .image:hover::after {
  animation: shine 1.2s ease forwards;
}
@keyframes shine {
  0% { left: -100%; bottom: -180%; opacity: 0; }
  15% { opacity: 1; }
  100% { left: 130%; bottom: 130%; opacity: 0; }
}
.page-5 .image:hover::before {
  opacity: 1;
}


.page-5 .image span {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #f7931e;
  color: #fff;
  padding: 10px 18px;
  font-size: 14px;
  font-style: italic;
  z-index: 3;
  font-family: "Merienda", cursive;
}
.page-5 .image span:hover{
  background-color: #c77211;
}

.page-5 .card h3 {
  margin-top: 22px;
  display: flex;
  font-size: 14px;
  font-style: italic;
  font-family: "Merienda", cursive;
  margin-left: 25px;

}
.page-5 .card h3 span {
  color: rgb(251, 165, 5);
  font-weight: bold;
  margin-left: 10px;
  
}
.page-5 .card p {
  color: rgb(158, 154, 154);
  margin-top: 10px;
   font-style: italic;
  font-family: "Merienda", cursive;
  text-align: left;
  font-size: 12px;
  margin-left:25px;
}




/* box */
.page-5 .d-none{
  display:none;
}
.page-5 .box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.page-5 .box-img {
  width: 700px;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#left, #right, #close {
  position: absolute;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
}
#left {
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}
#right {
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
#close {
  top: -45px;
  right: 0;
}


@media (max-width: 992px) {
  .page-5 .card {
    flex:0 0 50%; 
  }
}
@media (max-width: 768px) {

  .page-5 .container{
    flex-direction: column;
  }

  .page-5 .card{
    width: 100%;
    flex: 0 0 100%;
    margin-bottom: 25px;
  }

}


.page-5 .card {
  flex: 0 0 25%;   /* 4 كروت */
}

/* تابلت */
@media (max-width: 992px) {
  .page-5 .card {
    flex: 0 0 50%;   /* 2 كارت */
  }
}

/* موبايل */
@media (max-width: 576px) {
  .page-5 .container {
    flex-direction: column;
  }
  .page-5 .card {
    flex: 0 0 100%;   /* كارت واحد */
    margin-bottom: 20px;
  }
  .page-5 .card h3 {
    font-size: 12px;
  }
  .page-5 .card p {
    font-size: 11px;
  }
}

/* End Special Menu Section  */





/* booking Section Start */
#book {
    padding: 50px;
    background-image: url('../img/book.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#book h2 {
    color: var(--main-color);
    margin-top: 30px;
    width: 60%;
    font-family: "Merienda", cursive;
 
}

#book p {
    margin: 30px 0;
    width: 60%;
    font-size: 18px;
    line-height: 2;
    
}

#book a {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    color: white;
    background-color: var(--main-color) ;
    margin: 30px 0;
  
}

#book a:hover{
    background-color: #E86D00 ;
}

@media screen and (max-width:768px) {
    #book h2 {
        width: 100%;

    }

    #book p {

        width: 100%;
    }
}



/* booking Section End */




/* footer1 Section Start */
#f1 {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: var(--main-color);

}

#f1 .text {
    width: 45%;
    color: white;
    flex: 1;
    line-height: 2;

}

#f1 .text h3 {

    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif
}

#f1 .info {
    width: 45%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

#f1 .info form {
    flex-grow: 1;
    /* Allows the form container to stretch */

}

#f1 .info form input {
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.10);
    padding-left: 20px;
    outline: none;

}

#f1 .info form input::placeholder {
    color: white;
}

#f1 .info button {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    width: 140px;
    height: 50px;
    border: none;
}

#f1 .info button:hover {
    background-color: var(--sec-color);
}

@media screen and (max-width:992px) {

    #f1 .text,
    #f1 .info {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    #f1 .info {
        width: 100%;
        display: block;
    }
}

/* footer1 Section End */

/* footer2 Section Start */
#f2 {
    padding: 50px;
    background-color: var(--sec-color);
    color: white;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

#f2 .about {
    width: 30%;
}

#f2 .about h2,
#f2 .insta h2,
#f2 .contact h2 {
    margin-bottom: 30px;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;

}

#f2 .insta {
    width: 30%;
    padding: 0 30px;
}

#f2 .insta h2 {
    text-align: center;
}

#f2 .insta .imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

#f2 .insta img {
    width: 100%;
    display: block;
    height: 150px;
}

#f2 .insta img:hover {
    filter: brightness(0.7); /* Adjust (e.g., 0.8 for lighter, 0.5 for darker) */
}

#f2 .contact {
    width: 30%;
}

#f2 .contact .links .link {
    display: block;
    padding-bottom: 30px;
}

#f2 .contact .links .link i {
    color: var(--main-color);
    margin-right: 10px;
}


@media screen and (min-width:769px) and (max-width:992px) {
    #f2 .about {
        width: 45%;
    }

    #f2 .insta {
        width: 45%;
        padding: 0;
    }

    #f2 .contact {
        width: 100%;
    }


    #f2 .insta .imgs {
        max-width: 260px;
        /* Limits grid size */
        margin: 0 auto;
    }


}

@media screen and (max-width:768px) {

    #f2 .about,
    #f2 .insta,
    #f2 .contact {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    #f2 .insta h2 {
        text-align: start;
    }

    #f2 .insta .imgs {
        max-width: 260px;
        /*Limits the total width of the 2x2 grid*/
    }
}

/* footer2 Section End */

/* footer3 Section Start */

#f3 {
    color: white;
    background-color: #472706;
    text-align: center;
    height: 50px;
}

#f3 p {
    padding-top: 15px;
}

#f3 p a {
    color: white;
}

#f3 p a:hover {
    color: var(--main-color);
}

/* footer3 Section End */


